<div ng-controller="agregarAnuncioController">
  
                    
   <div class="basic-form-area mg-tb-15">
    <div class="container-fluid">
   
                    
    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list mt-b-30">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>anuncio</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form action="#" name="anuncioForm">
                                                   <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Categoria</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select ng-change="cambioCategoria()" class="form-control custom-select-value" ng-model="categoria" name="categoria"  ng-options="option.nombre for option in JSONCategorias track by option.id" required>																	 
																			 
																		</select>
                                                                <span ng-show="anuncioForm.categoria.$error.required && !anuncioForm.categoria.$pristine" class="help-block">Seleccione la categoria</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                     <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Sub Categoria</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select ng-model="subcategoria" class="form-control custom-select-value" name="account"  ng-options="option.nombre for option in JSONSubCategorias track by option.nombre">
																	 
																		</select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                               
                                                                                                               
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Titulo</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               
                                                                <input type="text" name="titulo" class="form-control" ng-model="titulo"  ng-minlength="6"  ng-maxlength="50"  required />
                                                                
                                                                 <span style="color:red" ng-show="anuncioForm.titulo.$dirty && anuncioForm.titulo.$invalid">
        <span ng-show="anuncioForm.titulo.$error.minlength">El titulo debe tener minimo 6 caracteres.</span>
        <span ng-show="anuncioForm.titulo.$error.maxlength">El tiotulo debe tener maximo 50 caracteres.</span>
         <span ng-show="anuncioForm.titulo.$error.required && !anuncioForm.titulo.$pristine"  >Titulo requerido</span>
    </span>
                                                               
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Descripcion</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <textarea  id="descripcion" name="descripcion" ng-model="descripcion"  required class="form-control"  ng-minlength="20" ></textarea>
                                                                 <span style="color:red" ng-show="anuncioForm.descripcion.$error || anuncioForm.descripcion.$invalid">
                                                                 <span ng-show="anuncioForm.descripcion.$error.minlength">La descripcion debe tener minimo 20 caracteres.</span>
                                                                  <span ng-show="anuncioForm.descripcion.$error.required && !anuncioForm.descripcion.$pristine" >Descripcion requerida</span>
                                                                </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                      <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Fecha vencimiento</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        
                                                                             
                                                                              <div class="input-group date">
                                            
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="date" class="form-control" model="fechaVencimiento" name="fechaVencimiento" value="10/04/2017" required>
                                                            
                                                            <span style="color:red" ng-show="anuncioForm.fechaVencimiento.$error || anuncioForm.fechaVencimiento.$invalid">
                                                                
                                                                  <span ng-show="anuncioForm.fechaVencimiento.$error.required && !anuncioForm.descripcion.$pristine" >Fecha requerida</span>
                                                                </span>
                                                                
                                                            
                                                        </div>
                                                            </div>
                                                        </div>
                                                        
                                                     
                                                    </div>
                                                   
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Habilitado</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                  <div class="bt-df-checkbox">
                                                                    <input class="pull-left" type="checkbox">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                     
                                                    </div>
                                                   
                                             
                                                
                                         
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list mt-b-30">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>contacto</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form action="#">
                                                   
                                                    
                                              
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Nombre</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input ng-model="nombre" name="nombre" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                  
                                                     <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">celular</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                               <input type="text" ng-model="telefonoContacto1" name="telefonoContacto1" class="form-control" data-mask="999 99 99 99" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                  
                                                     <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">celular</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input ng-model="telefonoContacto2" name="telefonoContacto2" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                    
                                                   
                                                
                                         
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>Ubicación</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                <div class="basic-login-form-ad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="all-form-element-inner">
                                                <form action="#">
                                                   <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Departamento</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                   <select ng-change="cambioDepartamento()" class="form-control custom-select-value" ng-model="departamento" name="account"  ng-options="option.nombre for option in JSONDepartamentos track by option.id">
																			 
																			 
																		</select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                     <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Provincia</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                    <select ng-change="cambioProvincia()" class="form-control custom-select-value" ng-model="provincia" name="account"  ng-options="option.nombre for option in JSONProvincias track by option.id">
																			 
																			 
																		</select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Distrito</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="form-select-list">
                                                                   <select ng-change="cambioDistrito()" class="form-control custom-select-value" ng-model="distrito" name="account"  ng-options="option.nombre for option in JSONDistritos track by option.id">
																			 
																			 
																		</select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Latitud</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" ng-model="latitud" name="latitud" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Longitud</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" ng-model="longitud" name="longitud"  class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                 
                                                 
                                                    
                                                   
                                                
                                         
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                  
                                                                    <div class="login-horizental cancel-wp pull-left">
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" ng-click=guardarAnuncio() type="submit">GUARDAR</button>
                                                                        
                                                                        <button class="btn btn-white" type="submit">Cancelar</button>
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
        <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline12-list">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>Lista de anuncios</h1>
                                </div>
                            </div>
                            <div class="sparkline12-graph">
                                
                                <div id='listaAnuncios' >
                                      <form class="form-inline">
        <div class="form-group">
            <label >Busqueda</label>
            <input type="text" ng-model="textoBusqueda" class="form-control" placeholder="texto a buscar">
        </div>
    </form>
   
    
 <table class="table table-striped">
                          <thead>
        <tr>
            <th ng-click="sort('id')">Titulo
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('nombre')">Fecha publicacion
                <span class="glyphicon sort-icon" ng-show="sortKey=='nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('last_name')">Fecha vencimiento
                <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('hobby')">destacado
                <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            
             <th ng-click="sort('hobby')">ubicacion
                <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            
             <th ng-click="sort('hobby')">usuario
                <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            
            <th ng-click="sort('hobby')">correo
                <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            
        </tr>
    </thead>
                           
                            <tbody>
                                <tr  ng-repeat="row in searched = (JSONAnucios | filter:textoBusqueda | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit " >
                                    <td>{{row.titulo}}</td>
                                    <td>{{row.fecha_publicacion}}</td>
                                    <td>{{row.fecha_vencimiento}}</td>
                                    <td>{{row.descripcion}}</td>
                                </tr>
                            </tbody>
                        </table> 
                
     <div class="col-md-12" ng-show="searched.length == 0">
                    <div class="col-md-12">
                        <h4>No records found..</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 pull-left">
                        <h5>Mostrando {{ searched.length }} de {{ entire_user}} items    </h5>
                    </div>
                    <!--div class="col-md-6" ng-show="searched.length>0">
                        <div pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="searched.length" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
                    </div-->
                </div>    
  <div class="fixed-table-pagination"><div class="pull-left pagination-detail"> <span class="btn-group dropup">
                        <div class="col-sm-11 pull-left">
                    <label>mostrar:</label>
                    <select ng-model="data_limit" class="form-control custom-select-value">
                       <option>3</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                       
                        </span> 
                    </div>
                      
                       </div>
                       
                        <div ng-show="searched.length>0" class="pagination-sm" pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="searched.length" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
                        
                                </div>
                                
                            </div>
                        </div>
                    </div>
            
        </div>                                                    
    </div>
</div>
</div>