<div ng-controller="anunciosVigentesController">
   
    <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="textoBusqueda" class="form-control" placeholder="Search">
        </div>
    </form>
    <span>busqueda:{{textoBusqueda}} </span>
    
 <table class="table table-striped">
                          <thead>
        <tr>
            <th ng-click="sort('id')">Id
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('nombre')">Nombre
                <span class="glyphicon sort-icon" ng-show="sortKey=='nombre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('last_name')">Last Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('hobby')">Hobby
                <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
        </tr>
    </thead>
                           
                            <tbody>
                                <tr  ng-repeat="row in searched = (JSONDepartamentos | filter:textoBusqueda | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit " >
                                    <td>{{row.id}}</td>
                                    <td>{{row.nombre}}</td>
                                    <td>{{row.nombre}}</td>
                                    <td>{{row.descripcion}}</td>
                                </tr>
                            </tbody>
                        </table> 
                
     <div class="col-md-12" ng-show="searched.length == 0">
                    <div class="col-md-12">
                        <h4>No records found..</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 pull-left">
                        <h5>Mostrando {{ searched.length }} de {{ entire_user}} items    </h5>
                    </div>
                    <!--div class="col-md-6" ng-show="searched.length>0">
                        <div pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="searched.length" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
                    </div-->
                </div>    
  <div class="fixed-table-pagination"><div class="pull-left pagination-detail"> <span class="btn-group dropup">
                        <div class="col-sm-11 pull-left">
                    <label>mostrar:</label>
                    <select ng-model="data_limit" class="form-control custom-select-value">
                       <option>3</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                       
                        </span> 
                    </div>
                      
                       </div>
                       
                        <div ng-show="searched.length>0" class="pagination-sm" pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="searched.length" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
                        
                       
                         
                          
                          
                           
                        
                                                                                                        
</div>
