
<div class="backLogin">
<div  style="z-index: -100;">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="color-line"></div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center m-b-md custom-login">
                    <h3>INICIO DE SESION</h3>
                    
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                           <span> {{mensajeLogin}} </span>
                            <div class="form-group">
                                <label class="control-label" for="username">Usuario</label>
                                <input ng-model="usuario"  type="text" placeholder="usuario" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Tu unico usuario de la aplicacion</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input ng-model="clave"  type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Tu password</span>
                            </div>
                           
                            <button ng-click="login()" class="btn btn-success btn-block loginbtn">iniciar</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <p>Copyright &copy; 2018 WILLAY ANUNCIOS</a>.</p>
            </div>
        </div>
    </div>


</div>

</div>